openai
pandas
plotly
plotly.express
requests
matplotlib==3.9.0
scikit-learn==1.5.0
biopython==1.83
dotenv
python-dotenv
fhirclient
fpdf
python-docx
streamlit
pyyaml
google-cloud-bigquery
google-auth
google-auth-oauthlib
google-auth-httplib2
retrying
tensorflow
